<nav class="navbar navbar-expand-lg navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>-->
            <a class="navbar-brand" href="http://mikudb.moe">MikuDB</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="main-menu" class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Site news</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News &amp; Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Torrent</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Album Types</a>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">Vocaloid</a>
                        <a class="dropdown-item" href="#">Kancolle</a>
                        <a class="dropdown-item" href="#">Touhou</a>
                        <a class="dropdown-item" href="#">Instrumental</a>
                        <a class="dropdown-item" href="#">Utaite</a>
                        <a class="dropdown-item" href="#">Other</a>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Videos</a>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">Original Work</a>
                        <a class="dropdown-item" href="#">PV</a>
                        <a class="dropdown-item" href="#">Live concert</a>
                        <a class="dropdown-item" href="#">Project Diva f</a>
                        <a class="dropdown-item" href="#">MMD</a>
                        <a class="dropdown-item" href="#">Cover (Instrumental)</a>
                        <a class="dropdown-item" href="#">Cover (Vocal)</a>
                        <a class="dropdown-item" href="#">Funny videos</a>
                        <a class="dropdown-item" href="#">Others</a>
                        <a class="dropdown-item" href="#">Remix</a>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vocaloids</a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="#">Hatsune Miku/初音ミク</a>
                                <a class="dropdown-item" href="#">Megurine Luka/巡音ルカ</a>
                                <a class="dropdown-item" href="#">GUMI</a>
                                <a class="dropdown-item" href="#">IA</a>
                                <a class="dropdown-item" href="#">Kagamine Rin/鏡音リン</a>
                                <a class="dropdown-item" href="#">Kagamine Len/鏡音レン</a>
                                <a class="dropdown-item" href="#">Others</a>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community</a>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">Members</a>
                        <a class="dropdown-item" href="#">Groups</a>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" method="get" action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." value="" name="s" id="s" style="height: 30px;">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                        <button class="btn" type="submit">Advanced</button>
                      </span>
                    </div>
                </form>
            </ul>
        </div>
    </div>
</nav>