<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/img/Logo-NVIDIA-small.jpg" alt="Logo de Nvidia" height="44 px" width="110 px">
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="menus">
    <div ngbDropdown class="d-inline-block">
      <button class="btn-menu btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>PLATAFORMAS</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="btn-menu btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>IA Y DEEP LEARNING</button>
        <ul class="btn-submenu">
            <button ngbDropdownItem>DESCRIPCION</button>
            <button ngbDropdownItem>SECTORES</button>
            <button ngbDropdownItem>DESARROLLADORES</button>
        </ul>
        <button ngbDropdownItem>MAQUINAS INTELIGENTES</button>
        <button ngbDropdownItem>CENTRO DE DATOS</button>
        <button ngbDropdownItem>DISEÑO Y VISUALIZACIÓN PROFESIONAL</button>
        <button ngbDropdownItem>SANIDAD</button>
        <button ngbDropdownItem>COCHES AUTONOMOS</button>
        <button ngbDropdownToggle class="btn-submenu" >GAMING GEFORCE</button >
          <ul class="title no-submenu">Descripción</ul>
        
        <button ngbDropdownItem>SHIELD</button>
      </div>
    </div>
  </div>
</nav>



	                                             