<div class="nvTile background-white card">
  <div class="column-1 parsys">
    <div class="image parbase section">
      <div id="image7e5153fc_efc7_4ebc_91dc_58a4168c7f66"
        class="image-container  p-t-0 p-b-0 lap-p-t-0 lap-p-b-0 tab-p-t-0 tab-p-b-0 mob-p-t-0 mob-p-b-0">
        <div class="imgwidth ">
          <a href="https://www.nvidia.com/en-us/geforce/graphics-cards/rtx-2060/?nvid=nv-int-gcrx20vb-71639"
            target="_self" class="imageLink">
            <img src="assets/img/geforce-rtx-2080-sfg-295x166.jpg"
              class="responsive-image " id="" alt="GeForce RTX 2060" title="GeForce RTX 2060" data-analytics="">
            <div class="svg-cls" style="width: 295px;">
              <div class="svg-zoom">
              </div>
            </div>
          </a>
        </div>
      </div>
      <script type="text/javascript">
        NVIDIAGDC.funcQueue.addToQueue({
          id: "image7e5153fc_efc7_4ebc_91dc_58a4168c7f66",
          method: "imageComponent",
          params: [{
            imageDesktopUrl: 'assets/img/geforce-rtx-2080-sfg-295x166.jpg',
            imageDesktopRetinaUrl: 'assets/img/geforce-rtx-2080-sfg-295x166.jpg',
            imageLaptopUrl: 'assets/img/geforce-rtx-2080-sfg-295x166.jpg',
            imageLaptopRetinaUrl: 'assets/img/geforce-rtx-2080-sfg-295x166.jpg',
            imageTabletUrl: 'assets/img/geforce-rtx-2080-sfg-295x166.jpg',
            imageTabletRetinaUrl: 'assets/img/geforce-rtx-2080-sfg-295x166.jpg',
            imageMobileUrl: 'assets/img/geforce-rtx-2080-sfg-295x166.jpg',
            imageMobileRetinaUrl: 'assets/img/geforce-rtx-2080-sfg-295x166.jpg',
            imageTarget: '_self',
            imageDesktopCustWidth: '',
            imageLaptopCustWidth: '',
            imageTabletCustWidth: '',
            imagePhoneCustWidth: '',
            imageTargetURL: 'https://www.nvidia.com/en-us/geforce/graphics-cards/rtx-2060/?nvid=nv-int-gcrx20vb-71639'
          }]
        });
      </script>
    </div>
    <div class="button parbase section">
      <div
        class="text-left tab-text-left mob-text-left p-t-15 p-b-0 tab-p-t-15 tab-p-b-0 mob-p-t-15 mob-p-b-0 mobile-align ">
        <div class="noicon  ">
          <a href=""
            data-analytics="txt-manual:" data-title=""
            data-href=""
            target="_self" class="  link-txt txt-manual brand-green text-h5 "
            onclick="NVIDIAGDC.button.click(this, $(this).data(&quot;href&quot;),true, function() { ;return NVIDIAGDC.button.callbacks(this); }); return false;">
            <div class="btn">
              <h5>GeForce RTX 2060</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="textcomp section">
      <div id="textcomp_1390783502a885adce_3487_4ba4_a1eb_4a2b30c2e20d"
        class="general-container-text    wid-default p-t-0 p-b-0             ">
        <div class="text-left tab-text-left ">
          <div class="body-text description color-ui-elements">
            <p>RTX. It’s On.</p>
          </div>
          <div class="text-button">
            <div class="textCmpButton-par parsys">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>