<!--The content below is only a placeholder and can be replaced.-->
<body>
    <div class="contenedor_publicidad">
        <img src="/assets/img/banner.jpg" alt="publicidad sobre las camisetas de roosther teeth" width="100%">
      </div>
      
      <div class="contenedor_cabecera">
        <app-navbar></app-navbar>
      </div>
      
      
      <div class="contenedor_foto_central"></div>
      <div class="contenedor_originals"></div>
      <div class="contenenedor_shop_collections"></div>
      <div class="contenedor_carruseles">
        <div class="contenedor_livestreams"></div>
        <div class="contenedor_episodios_recientes"></div>
        <div class="contenendor_series_recientes"></div>
        <div class="contenedor_action_packed"></div>
        <div class="contenedor_games_reimagined"></div>
        <div class="contenedor_bingeworthy"></div>
        <div class="contenedor_just_gaming"></div>
        <div class="contenedor_headphone_favorites"></div>
        <div class="contenedor_full_of_laughs"></div>
      </div>
      <div class="contenedor_menu"></div>
      
      <app-banner></app-banner>      
      
      
      <router-outlet></router-outlet>
</body>
