<nav class="navbar sticky-top navbar-dark bg-dark" #stickyMenu [class.sticky]="sticky">
  <div class="col-md-1"></div>
  <div class="col-md-1">
    <a class="navbar-brand" href="/home">
      <img src="/assets/img/logo1.png" alt="logo de Rooster Teeth" height="21" width="21">
    </a>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-1">
    <a class="nav-item" href="/home">
      <img src="/assets/img/TryFree.png" alt="Probar gratis" height="21" width="21">
    </a>
  </div>
  <div class="col-md-1">
    <a class="nav-item" href="/home">
      <img src="/assets/img/etiqueta.png" alt="icono de etiqueta" height="21" width="21">
    </a>
  </div>
  <div class="col-md-1">
    <a class="nav-item" href="/home">
      <img src="/assets/img/campana.png" alt="icono de notificacion" height="21" width="21">
    </a>
  </div>
  <div class="col-md-1">
    <a class="nav-item" href="/home">
      <img src="/assets/img/perfil.png" alt="icono de perfil" height="21" width="21">
    </a>
  </div>
</nav>