<div class="contenedor-login">
  <div class="d_flex justify-content-center">
    <div class="p-2 shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 100px">
        <div class="d-flex justify-content-center">
          <ul class="list-group">
            <li class="list-group-item"><a [routerLink]="['/home']">HISTORIAL DE COMPRAS</a></li>
            <li class="list-group-item"><a [routerLink]="['/home']">PLATOS</a></li>
            <li class="list-group-item"><a [routerLink]="['/home']">COMPRAR</a></li>
          </ul>

        </div>
    </div>
  </div>
</div>
