<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="['','equipo',idEquipo,'jugador','crear']"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col>
        <h2>Jugadores: </h2>
        <form
                #formularioBusqueda="ngForm"
                (change)="buscar()"
                (input)="buscar()"
                (submit)="buscar()"
        >

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput name="busqueda" [(ngModel)]="nombreBusqueda" placeholder="Buscar por nombre">
          </mat-form-field>
        </form>

        <ion-card *ngFor="let jugador of jugadores" style="margin-top: 10px">
          <ion-card-header>
            <ion-item>
              <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="presentarAlertaEliminar(jugador)">Eliminar</button>
              </mat-menu>
              <ion-card-title>{{jugador.nombre}}</ion-card-title>
            </ion-item>
            <ion-item>
              <ion-label>{{jugador.poderEspecialDos}}</ion-label>
                <ion-badge color="secondary">{{jugador.goles}}</ion-badge>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
