<div class="featured-container">
  <div id="featureBlock" class="featured-img__container">
    <div class="featured-img">
      <picture>
        <source
          srcset="https://cdn.roosterteeth.com/image/upload/t_l/f_auto/3/4d3a0c97-ac46-4346-9ef2-330477d7642b/original/1554823111.jpg"
          media="(max-width: 600px)" alt="Mobile Hero"><img class="featured-img__image"
          src="https://cdn.roosterteeth.com/image/upload/t_l/f_auto/3/82dd5aa3-f518-4a1a-9602-055961871d2e/original/1554823111.jpg"
          alt="Desktop Hero"></picture>
      <div class="featured-img__vignette"></div>
    </div>
    <div class="featured-content">
      <div class="featured-showname"><a href="/series/red-vs-blue">
          <h1 class="featured-header"><img
              src="https://cdn.roosterteeth.com/image/upload/t_l/f_auto/3/313a0dad-d44e-4939-aaae-e68a7d1be111.png/original/rvblogo.png"
              alt="Red vs. Blue"></h1>
        </a></div>
      <h5 class="featured-title" data-text="S17:E10 - Killing Time">S17:E10 - Killing Time</h5>
      <p class="featured-caption" data-text="Wash would like to be shot. One shooting, please.">Wash would like to be
        shot. One shooting, please.</p><a class="btn waves-effect waves-light btn-large featured-play-btn primary"
        href="/episode/red-vs-blue-season-17-10"><i class="icon-play_arrow left"></i>Play <span
          class="featured-btn-text">Episode</span></a>
      <div class="queue btn waves-effect waves-light btn-large secondary" role="presentation">
        <div class="queue__container"><i class="icon-add_circle tooltipped " data-position="bottom"
            data-tooltip="Add to my watchlist"></i>Watchlist</div>
      </div>
      <div><a target="_blank" rel="noopener noreferrer" class="featured-collection-link"
          href="https://store.roosterteeth.com/collections/red-vs-blue">Shop this collection now</a> <i
          class="featured-collection-caret icon-keyboard_arrow_right"></i></div>
    </div>
  </div>
</div>