
<ion-grid>
    <ion-row>
        <ion-col [size]="1"></ion-col>
        <ion-col>
            <div>
                <img src="https://img.pngio.com/soccer-png-soccer-png-480_480.png" alt="img" class="imagen-res">
            </div>
            <ion-button expand="block" [routerLink]="['','login']">Login</ion-button>
            <ion-button  expand="block" fill="outline" [routerLink]="['/','registro']">Registro</ion-button>
        </ion-col>
        <ion-col [size]="1"></ion-col>
    </ion-row>
</ion-grid>