.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.bg-image {
  background: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/6-sports-stadium-tunnel-allan-swart.jpg') no-repeat center center fixed;
  background-size: cover;
}
.no-scroll .scroll-content {
  overflow: hidden;
}